.form-input-row-1 {
    display: flex;
    flex-direction: column;
}

.form-input-row-2 {
    display: flex;
    flex-direction: column;
    width: 125px;
}

.drop-down-group {
    display: flex;
    justify-content: space-between;
}

.form-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-card-btn {
    padding: 10px;
    width: 40%;
}