.form-input-row-1 {
    display: flex;
    flex-direction: column;
}

.form-input-row-2 {
    display: flex;
    flex-direction: column;
    width: 125px;
}

.drop-down-group {
    display: flex;
    justify-content: space-between;
}

// .input-field {
//     border: 1px solid grey;
//     border-radius: 10px;
// }